.panel.panel-primary
  .panel-heading
    %h3 Contact Listing
  .panel-body 
    %table.table
      %thead
        %tr
          %th First Name
          %th Last Name
          %th Email
          %th City
          %th Age
          %th State
          %th Mobile Number
          %th Landline Number
      %tbody
        %tr
          %th=@contact.first_name
          %th=@contact.last_name
          %th=@contact.email
          %th=@contact.city
          %th=@contact.age
          %th=@contact.state
          %th=@contact.mobile_number
          %th=@contact.landline_number

