.row
  .col-md-offset-2.col-md-6
    .panel.panel-primary
      .panel-heading
        %h3 Group
      .panel-body
        %ul.list-group
          - Contact.get_group_by_contact_count.each do |group|
            %li.list-group-item= "#{group.name.capitalize}(#{group.counter})"
